* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --text-soft-red: hsl(14, 88%, 65%);

  --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --text-dark-grayish-blue: hsl(240, 6%, 50%);

  --gradient-soft-violet: hsl(273, 75%, 66%);
  --gradient-soft-blue: hsl(240, 73%, 65%);

  --divider-light-grayish-blue: hsl(240, 5%, 91%);

  --bg-faq: #fff;

  --body-margin-top-mobile: 8.5em;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  margin-top: var(--body-margin-top-mobile);
  background-image: linear-gradient(var(--gradient-soft-violet), var(--gradient-soft-blue));
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--body-margin-top-mobile));
  width: 100vw;
}

.faq__container__desktop-illustrations,
.faq__container__desktop-box {
  display: none;
}

.faq__container__mobile-illustrations {
  margin-top: -170px;
}

.mobile-illustrations--main-image {
  margin-left: -9px;
}

.mobile-illustrations__shadow-image {
  margin-top: -300px;
  margin-left: 19px;
}

#faq__container {
  background: var(--bg-faq);
  border-radius: 23px;
  width: 327px;
  height: 535px;
  padding: 60px 24px 32px 24px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
}

.faq__text {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.faq__text h2 {
  padding-top: 33px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.faq__text > details > summary {
  font-size: 14px;
}

.faq__text > details {
  max-width: 350px;
  padding: 16px 0 4px 0;
  line-height: 18px;
  font-size: 12px;
  color: var(--text-dark-grayish-blue);
  border-bottom: 1px solid var(--divider-light-grayish-blue);
}

.faq__text > details[open] {
  padding-bottom: 15px;
}

.faq__text > details[open] > summary {
  font-weight: bold;
  color: var(--text-very-dark-desaturated-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.79865L5 1.79865L9 5.79865' stroke='%23F47B56' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 2px;
}

.faq__text > details > summary:hover {
  color: var(--text-soft-red);
}

.faq__text > details[open] > summary:hover {
  font-weight: bold;
  color: var(--text-very-dark-desaturated-blue);
}

.faq__text > details > summary {
  max-width: 350px;
  cursor: pointer;
  padding-bottom: 11px;
  color: var(--text-very-dark-grayish-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 .799l4 4 4-4' stroke='%23F47B56' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 2px;
}

.faq__text > details > summary::-webkit-details-marker {
  display: none; /* disclosure triangle in Chrome/webkit */
}

.faq__text > details > summary {
  list-style-type: none;  /* disclosure triangle in Firefox */
}

.attribution {
  align-self: flex-end;
  font-size: 11px;
  text-align: center;
  width: 100%;
  color: #fff;
}

.attribution a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.attribution a:hover {
  color: black;
}


@media screen and (min-width: 1020px) {
  .faq__container__mobile-illustrations {
    display: none;
  }

  #faq__container {
    width: 920px;
    height: 509px;
    padding: 0;
  }

  .faq__text {
    float: right;
    width: 50%;
    height: 100%;
    padding: 32px 0 0 15px;
  }

  .faq__text h2 {
    text-align: left;
    margin-bottom: 26px;
  }

  .faq__container__desktop-illustrations {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    display: block;
    overflow: hidden;
  }

  .desktop-illustrations--main-image {
    margin-left: -84px;
    margin-top: 68px;
  }

  .desktop-illustrations--shadow-image {
    position: absolute;
    top: -298px;
    left: -580px;
  }

  .faq__container__desktop-box {
    display: inline-block;
    position: relative;
    z-index: 100;
    left: -93px;
    top: -305px;
  }
}